<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {% block title %}{% endblock %}        
    </title>
    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}


    <link rel="stylesheet" type="text/css" href="{% static "newblog/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "newblog/css/bootstrap-responsive.css" %}" rel="stylesheet">
<!--     <link href="{% static "newblog/ccss/docs.css" %}" rel="stylesheet">
    <link href="{% static "newblog/js/google-code-prettify/prettify.css" %}" rel="stylesheet"> -->




<!--     <link rel="stylesheet" type="text/css" href="{% static "newblog/css/bootstrap.min.css" %}"/> -->
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style> 
    {% block extra_head %}
    {% endblock %}
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">

  {% load comments %}
    {% block body %}


        {% block header %}
            {% block menu %}
            {% endblock %}
        {% endblock %}

        <div class="container">
        {% block content %}
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span8 offset1">                            
                        {% block article %}
                            {% block article_title %}
                                {% comment %}
                                {% block [section]_menu %} {% block page_menu %}
                                {% endcomment %}
                            {% endblock %}
                            {% block article_content %}{% endblock %}
                        {% endblock %}
 
                        {% block article_menu %} {% endblock %}
                        {% block comments %} {% endblock %}
                        </div>
                        <div class="span3">
                            {% block aside %}
                                {% block tags %}{% endblock %}
                            {% endblock %}
                        </div>

                    </div>

                </div>
            {% endblock %}
                        {% block footer %}
<div class="mastfoot">
            <div class="inner" align="center">

        <p>Designed and built with all the love in the world by @Victor</p>
           </div>
          </div>

            {% endblock %}
              </div>

        {% endblock %}
  

    <script src="{% static "newblog/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "newblog/js/bootstrap.js" %}"></script>
<!--     // <script type="text/javascript"  src="http://platform.twitter.com/widgets.js"></script> -->

    <script src="{% static "newblog/js/bootstrap-transition.js" %}"></script>
<!--     // <script src="{% static "newblog/js/bootstrap-alert.js" %}"></script>    
    // <script src="{% static "newblog/js/bootstrap-modal.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-dropdown.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-scrollspy.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-tab.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-tooltip.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-popover.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-button.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-collapse.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-carousel.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-typeahead.js" %}"></script>
    // <script src="{% static "newblog/js/bootstrap-affix.js" %}"></script>
    // <script src="{% static "newblog/js/holder.js" %}"></script>
    // <script src="{% static "newblog/js/google-code-prettify/prettify.js" %}"></script>
    // <script src="{% static "newblog/js/application.js" %}"></script> -->
<script type="text/javascript">
$('ul.nav > li > a').parent().removeClass('active');
$('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
</script>


</body>

</html>